@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 767px) {
  .hidden {
    display: none;
  }

  #menu-toggle {
    display: block;
  }

  .flex-grow {
    display: none;
  }
}

@layer utilities {
  .text-responsive {
    font-size: clamp(15px, 6vw, 40px);
  }

  .text-responsive-skills {
    font-size: clamp(15px, 4.5vw, 33px);
  }

  .text-responsive-skills-2 {
    font-size: clamp(15px, 3vw, 20px)
  }
}
