@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 767px) {
  .hidden {
    display: none;
  }

  #menu-toggle {
    display: block;
  }

  .flex-grow {
    display: none;
  }
}

@media (max-width: 1000px) {
  .flex-row-experience {
  flex-direction:column;
  }
  .flex-row-experience-reverse {
    flex-direction: column-reverse;
  }
  .image-margin{
    padding-top: 50px;
  }
  .lime-full {
    width: 100%;
    height: auto; /* Let content dictate height */
    position: relative; /* Relative positioning for absolute children */
    padding-bottom: 60px; /* Additional padding at the bottom for spacing */
  }

  .date-text {
    position: absolute;
    bottom: 20px; /* Adjust this for the desired distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
  }
}
@media (min-width: 1001px) {
  .paragraph-text {
    font-size: clamp(15.5px, 1.4vw, 20px);
    transition: font-size 0.03s ease;
  }
  .lime-full {
    height: auto;
    position: relative;
    padding-bottom: 80px; /* Adjust for larger screens */
  }
  .lime-full-2 {
    height:auto;
    padding-bottom: 20px;
    position:relative;
  }

  .date-text {
    position: absolute;
    bottom: 30px; /* Adjust to set consistent distance from bottom */
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 800px) {
  .work-experience {
    font-size: clamp(26px, 4vw, 32px); /* Larger size */
    transition: font-size 0.3s ease;
  }
  .company-title {
    font-size: clamp(22px, 3.5vw, 28px); /* Medium size */
    transition: font-size 0.3s ease;
  }
  .job-title {
    font-size: clamp(20px, 3vw, 26px); /* Smaller size */
    transition: font-size 0.3s ease;
  }
}

@media (max-width: 1000px) {
  .flex-col-1800 {
    flex-direction: column;
    align-items: center;
  }

  .photo-small {
    width: 50vw;
    height: auto;
    border-radius: 50%;
}

.professional-centered {
  text-align: center;
}

  .flex-col-1800 .remove-margin-1800 {
    margin-left: 0;
  }
}

.text-responsive {
  font-size: clamp(15px, 6vw, 40px);
}

.text-responsive-skills {
  font-size: clamp(15px, 4.5vw, 33px);
}

.text-responsive-skills-2 {
  font-size: clamp(15px, 3vw, 20px);
}

@media (max-width: 1000px) {
  .experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .black-line {
    width: 80%;
    height: 1px;
    background-color: black;
    margin-top: 50px;
  }

  .gopherMatch {
    margin-top: 40px;
  }
}

@media (min-width: 1001px) {
  .experience-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
  }

  .black-line {
    width: 1px;
    height: 350px;
    background-color: black;
    position: relative;
    top: 30px;
    margin: 90px;
  }

  .project-box {
    width: 50%;
  }
}

.gradient-bg {
  background: linear-gradient(to right, #186804, #50962F);
}
