@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 1290px) {
  /* Flex direction change for projects on smaller screens */
  .gopher-container {
    flex-direction: column;
    align-items: center;
  }

  .project-box {
    width: 100%; /* Make project boxes take full width on small screens */
    margin-bottom: 50px; /* Add spacing between boxes */
  }

  .black-line {
    width: 80%;
    height: 1px;
    background-color: black;
    margin-top: 50px;
  }

  .gopherMatch {
    margin-top: 40px;
  }

  /* Ensures the list stays within bounds and doesn't overflow */
  .project-box ul {
    width: 80%; /* Make the list 80% of the container width */
    max-width: 100%; /* Prevent overflow */
    padding-left: 0; /* Remove padding for cleaner alignment */
    box-sizing: border-box; /* Ensure padding is included in width calculation */
    list-style-position: inside; /* Bullets inside the list */
    margin-left: 15%; /* Center the list horizontally */
    margin-right: auto; /* Center the list horizontally */
  }

  .project-box ul li {
    margin-bottom: 20px; /* Add spacing between items */
    text-align: left; /* Align text to the left */
  }

  .text-responsive {
    font-size: clamp(15px, 6vw, 40px);
  }

  .text-responsive-skills {
    font-size: clamp(15px, 4.5vw, 33px);
  }

  .text-responsive-skills-2 {
    font-size: clamp(15px, 3vw, 20px);
  }
}

@media (min-width: 1291px) {
  /* For larger screens, we want the layout to be row-based */
  .gopher-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .project-box {
    width: 45%; /* Each project box takes 45% of the container on larger screens */
  }

  .black-line {
    width: 1px;
    height: 350px;
    background-color: black;
    position: relative;
    top: 30px;
    margin: 90px;
  }

  /* Ensure the text is responsive for larger screens */
  .text-responsive {
    font-size: clamp(15px, 2vw, 40px);
  }
}
